<a href="https://colab.research.google.com/github/anuruththan/Data_science/blob/main/Basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for n in str:
  print(n)

A
n
u
r
u
t
h
t
h
a
n

In [ ]:
words=["Hello","hi","how are you"]
print("hello" in words)
print("hi" in words)

False
True

In [ ]:
x=[1,2,3]
x.insert(0,4)
x.append(10)
print(x)
print(x.count(3))
x.reverse()
print(x)
x.sort()
print(x)

[4, 1, 2, 3, 10]
1
[10, 3, 2, 1, 4]
[1, 2, 3, 4, 10]

In [ ]:
squres=[i**2 for i in range(5)]
print(squres)

[0, 1, 4, 9, 16]

n=int(input())
multiplicaton=[n*(2**i) for i in range(12)]
print(multiplicaton)

In [ ]:
nums = (55, 44, 33, 22)
print(max(min(nums[:2]), abs(-42)))

44

## Given a sentence as input, calculate and output the average word length of that sentence. To calculate the average word length, you need to divide the sum of all word lengths by the number of words in the sentence.

In [ ]:
text = input()
text_list=text.split()
length_of_text=len(text.replace(" ",""))
no_of_words_in_text=len(text_list)
print(length_of_text/no_of_words_in_text)

hello lool
4.5

In [ ]:
nums ={
    1:"One",
    2:"Two",
    3:"Three"
}

print(1 in nums)
print("three" in nums)

True
False

In [ ]:
pairs = {
   1: "apple",
   "orange": [2, 3, 4],
   True: False,
   12: "True",
}

print(pairs.get("orange"))
print(pairs.get(6, 42))
print(pairs.get(12345, "not found"))

[2, 3, 4]
42
not found

In [ ]:
age={"Anuruththan":[23,2],
     "Baskaran":62,
     "Ananthini":60,
     "Arani":26,
     "Sowmiya":24}

print(age["Anuruththan"][1])

2

checking the details of a dictonary

In [ ]:
contacts = {
    "David": ["123-321-88", "david@test.com"],
    "James": ["241-879-093", "james@test.com"],
    "Bob": ["987-004-322", "bob@test.com"],
    "Amy": ["340-999-213", "a@test.com"]
}
#your code goes here

name=input()
if(name in contacts):
    print(contacts[name][1])
else:
    print("Not found")

James
james@test.com

In [ ]:
fib = {1: 1,
       2: 1,
       3: 2,
       4: 3}
print(fib.get(4, 0) + fib.get(7, 5))

8

In [ ]:
dict = {
    ("David", 42): "red",
    ("Bob", 24): "green"
}

print(dict[("Bob", 24)])

green

In [ ]:
numbers = (1,2,3)
a,b,c = numbers
print(a)
print(b)
print(c)

1
2
3

In [ ]:
x,y=[1,2]
x,y=y,x
print(x," ",y)

2   1

### Tuple unpacking

In [ ]:
#asterix
a, b, *c, d = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(a)
print(b)
print(c)
print(d)

1
2
[3, 4, 5, 6, 7, 8]
9

In [ ]:
from math import sqrt
points = [
    (12, 55),
    (880, 123),
    (64, 64),
    (190, 1024),
    (77, 33),
    (42, 11),
    (0, 90)
]
#your code goes here
#Tuple unpacking a,b,c,d,e,f,g = points
n=int
lowest=float('inf')
for (x,y) in points:
    n=x**2+y**2
    if(n<lowest):
        lowest=n

print(sqrt(lowest))

43.41658669218482

### Sets

In [ ]:
nums = {1, 2, 1, 3, 1, 4, 5, 6}
print(nums)
nums.add(-7)
nums.remove(3)
print(nums)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6, -7}

In [ ]:
'''
Sets can be combined using mathematical operations.
The union operator | combines two sets to form a new one containing items in either.
The intersection operator & gets items only in both.
The difference operator - gets items in the first set but not in the second.
The symmetric difference operator ^ gets items in either set, but not both.
'''
first = {1, 2, 3, 4, 5, 6}
second = {4, 5, 6, 7, 8, 9}

print(first | second)#union
print(first & second)#intersection
print(first - second)#difference
print(second - first)
print(first ^ second)#symmetric difference

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}
{1, 2, 3, 7, 8, 9}

In [ ]:
# Checking the intersecting word count of given two sentences
s1 = input()
s2 = input()

text1=s1.split()
text2=s2.split()

print(len(set(text1) & set(text2)))

I'm iron man
I'm loki
1

### You are analyzing sales data from a ticket office.
The ticket for an adult is $20, while the ticket for a child under 18 is $5.
The data you are given is in a dictionary format, where the keys are the sold ticket numbers, and the values are the customer ages.
For example, "123-08": 24 means that the ticket was bought a 24 year old.
Your goal is to calculate how much more money the office would make if it would change the ticket discount age to the given input.
So, your program needs to take an integer as input and output the percentage of revenue growth, if the discount was given to people under that age.

For example, if the office made $15000 with the original discount age, and would make $18000 with 14 as the discount age, then the growth would be ((18000-15000)/15000)*100 = 20%

So, for the input 14, your program should output 20. The output should be an integer (use int() to convert the result).

level
To iterate over the values of a dictionary, you can use the .values() function:
for value in data.values()

In [ ]:
data = {
    "100-90": 25, "42-01": 48, "55-09": 12, "128-64": 71, "002-22": 18, "321-54": 19, "097-32": 33, "065-135": 64, "99-043": 80, "111-99": 11, "123-019": 5, "109-890": 72, "132-123": 27, "32-908": 27, "008-09": 25, "055-967": 35, "897-99": 44, "890-98": 56, "344-32": 65, "43-955": 59, "001-233": 9, "089-111": 15, "090-090": 17, "56-777": 23, "44-909": 27, "13-111": 21, "87-432": 15, "87-433": 14, "87-434": 23, "87-435": 11, "87-436": 12, "87-437": 16, "94-121": 15, "94-122": 35, "80-089": 10, "87-456": 8, "87-430": 40
}
age = int(input())
#your code goes here

sinna_podiyal=5
bittu_pakkuravangal=20

original_discount = sum(bittu_pakkuravangal if arr_age>=18 else sinna_podiyal for arr_age in data.values())

new_discount = sum(bittu_pakkuravangal if arr_age>=age else sinna_podiyal for arr_age in data.values())

print(int(((new_discount-original_discount)/original_discount)*100))

14
16

# User Define Data_Structures

### Some applications require additional functionality when working with data, for example, word processors have an undo-redo function, task schedulers need queuing mechanisms, maps need to find the shortest path, etc.
In these cases we need to define our own data structures that provide the required functionality.

Some of the most popular data structures are:
- Stacks
- Queues
- Linked Lists
- Graphs

### Stack

In [ ]:
class Browser:
    def __init__(self):
      self.links = []

    def is_empty(self):
      return self.links == []

    def push(self, link):
      return self.links.insert(0, link)

    def pop(self):
      return self.links.pop(0)




x = Browser()
x.push('about:blank')
x.push('www.sololearn.com')
x.push('www.sololearn.com/courses/')
x.push('www.sololearn.com/courses/python/')

while not x.is_empty():
    print(x.pop())

www.sololearn.com/courses/python/
www.sololearn.com/courses/
www.sololearn.com
about:blank

### Queue

In [ ]:
class Queue:
  def __init__(self):
    self.items = []

  def is_empty(self):
    return self.items == []

  def enqueue(self, item):
    self.items.insert(0, item)

  def dequeue(self):
    return self.items.pop()

  def print_queue(self):
    print(self.items)