<a href="https://colab.research.google.com/github/anuruththan/Data_science/blob/main/Machine_learning_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Machine learning

### Python packages going to use
- Pandas
- numpy
- matplotlib
- scikit-learn

#### Techniques used in machine learning
- Logistic Regreestion
- Decision tree
- Random Forests
- Neural networks

In [ ]:
import numpy as np #np is used for manipulating arrays also

data = [15, 16, 18, 19, 22, 24, 29, 30, 34]

print("mean:", np.mean(data))
print("median:", np.median(data))
print("50th percentile (median):", np.percentile(data, 50))
print("25th percentile:", np.percentile(data, 25))
print("75th percentile:", np.percentile(data, 75))
print("standard deviation:", np.std(data))
print("variance:", np.var(data))

mean: 23.0
median: 22.0
50th percentile (median): 22.0
25th percentile: 18.0
75th percentile: 29.0
standard deviation: 6.342099196813483
variance: 40.22222222222222

##### Pandas

In [7]:
import pandas as pd
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')

print(df.head())# Printing the first five element of the data set

#data = pd.DataFrame(df)#DataFrames are designed to store structured data efficiently. They organize data into rows and columns, making it easy to represent and work with tabular data, such as datasets from spreadsheets, CSV files, or databases.
print(df.describe())

   Survived  Pclass     Sex   Age  Siblings/Spouses  Parents/Children     Fare
0         0       3    male  22.0                 1                 0   7.2500
1         1       1  female  38.0                 1                 0  71.2833
2         1       3  female  26.0                 0                 0   7.9250
3         1       1  female  35.0                 1                 0  53.1000
4         0       3    male  35.0                 0                 0   8.0500
         Survived      Pclass         Age  Siblings/Spouses  Parents/Children  \
count  887.000000  887.000000  887.000000        887.000000        887.000000
mean     0.385569    2.305524   29.471443          0.525366          0.383315
std      0.487004    0.836662   14.121908          1.104669          0.807466
min      0.000000    1.000000    0.420000          0.000000          0.000000
25%      0.000000    2.000000   20.250000          0.000000          0.000000
50%      0.000000    3.000000   28.000000          0.000000          0.000000
75%      1.000000    3.000000   38.000000          1.000000          0.000000
max      1.000000    3.000000   80.000000          8.000000          6.000000

            Fare
count  887.00000
mean    32.30542
std     49.78204
min      0.00000
25%      7.92500
50%     14.45420
75%     31.13750
max    512.32920

In [9]:
#Selecting a single column
import pandas as pd
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
col = df['Fare']
print(col)

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
882    13.0000
883    30.0000
884    23.4500
885    30.0000
886     7.7500
Name: Fare, Length: 887, dtype: float64

In [10]:
# Checking the true data
import pandas as pd
df = pd.read_csv('https://sololearn.com/uploads/files/titanic.csv')
df['male'] = df['Sex'] == 'male'
print(df.head())

   Survived  Pclass     Sex  ...  Parents/Children     Fare   male
0         0       3    male  ...                 0   7.2500   True
1         1       1  female  ...                 0  71.2833  False
2         1       3  female  ...                 0   7.9250  False
3         1       1  female  ...                 0  53.1000  False
4         0       3    male  ...                 0   8.0500   True

[5 rows x 8 columns]